@import "bootstrap-sprockets";
@import "bootstrap";


.float-left {
  float: left;
}

h3 {
  margin-top: 2px;
}

.front9, .back9 {
  text-align: center;
}

.hole-num, .sg {
  float: left;
}

.sg {
  margin-left: 20px;
  font-size: .8em;
}
